.navbar{
    color: white;
    font-size: 14px;

    .container{
        padding: 8px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            height: 25px;
        }
        
    }
}