.navbar{
    color: white;
    font-size: 14px;

    .container{
        padding: 8px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;

        .left{
            display: flex;
            align-items: center;

            img{
                height: 25px;
                margin-right: 40px;
            }

            span{
                margin-right: 20px;
                cursor: pointer;
            }
        }

        .right{
            display: flex;
            align-items: center;
        }

        .icon{
            margin: 0 15px;
            cursor: pointer;
        }

        img{
            width: 30px;
            height: 30px;
            border-radius: 50px;
            object-fit: cover;
            cursor: pointer;
        }    
    }
}