.featured{
    height: 90vh;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info{
        width: 35%;
        position: absolute;
    }
}