.listitem{
    width: 225px;
    height: 120px;
    background-color: var(--main-color);
    margin-right: 10px;
    overflow: hidden;
    cursor: pointer;
    color: white;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    video{
        width: 100%;
        height: 140px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover{
        width: 325px;
        height: 300px;
        position: absolute;
        top: -150px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
        box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    }

    img{
        height: 140px;
    }
}